<!doctype html><html><head>
  <meta charset=utf8>
  <title>Chemical P removal calibration</title>
  <!--
    library Vue JS
    - development version
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    - production version
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    //utils
    Array.prototype.sum = function(){
      return this.reduce((p,c)=>(p+c),0);
    }
  </script>

  <style>
    table {
      border-collapse:collapse;
    }
    .unit{
      font-size:smaller;
    }
    input[type=number]{
      text-align:right;
    }
    #container {
      display:grid;
      grid-template-columns:30% 70%;
    }
  </style>
</head><body>

<h1>Chemical P removal calibration</h1>
<small>Haas et al, 2001</small>

<div id=container>

<!--equations-->
<div>
  <p>
    With known <b>PO4e</b>, <b>PO4i</b> and <b>Me_P_mole_ratio</b> measures,
    find <b>a<sub>1</sub></b> and <b>a<sub>2</sub></b> such that:
  </p>
  <fieldset>
    PO4e = a<sub>1</sub> · PO4i · e<sup>-a<sub>2</sub>·(Me_P_mole_ratio)</sup>
  </fieldset>

  <p>The above equation can be linearized (y=mx+n) as:</p>

  <fieldset>
    ln(PO4e/PO4i) = ln(a<sub>1</sub>) - a<sub>2</sub>·(Me_P_mole_ratio)
  </fieldset>
  <div>
    where:
    <ul>
      <li> y = ln(PO4e/PO4i)
      <li> x = Me_P_mole_ratio
      <li> m = - a<sub>2</sub> (slope)
      <li> n = ln(a<sub>1</sub>) (intercept)
    </ul>
  </div>
</div>

<!--points-->
<div id=app>
  Add measures (points) to this table to find <b>a<sub>1</sub></b> and <b>a<sub>2</sub></b>
  <table border=1>
    <tr>
      <th>PO4e<br><span class=unit>(mg/L)</span>
      <th>PO4i<br><span class=unit>(mg/L)</span>
      <th>
        x = Me_P_mole_ratio<br>
        <span class=unit>(moles Me dosed / moles P available)</span>
      </th>
      <th> y = ln(PO4e/PO4i)
      <th>Remove point
    </tr>
    <tr v-for="p,i in points">
      <td><input type=number v-model.number="p.PO4e">
      <td><input type=number v-model.number="p.PO4i">
      <td><input type=number v-model.number="p.Me_P_mole_ratio">
      <td>{{Math.log(p.PO4e/p.PO4i)}}
      <td><button @click="remove_point(i)">Remove point</button>
    </tr>
    <tr>
      <td colspan=5><button @click=add_point>Add new point</button>
    </tr>
  </table>

  <div style=font-size:x-large>
    Results of linear regression
    <table border=1>
      <tr v-for="obj,key in compute_linear_regression()">
        <th v-html="obj.html">
        <td>{{obj.value}}
      </tr>
    </table>
  </div>
</div>

</div>

<!--vue-->
<script>
  let app = new Vue({
    el:"#app",
    data:{
      points:[
        {Me_P_mole_ratio:3.818742293,  PO4e:0.06, PO4i:2.8},
        {Me_P_mole_ratio:3.000440373,  PO4e:0.15, PO4i:2.8},
        {Me_P_mole_ratio:2.45490576,   PO4e:0.25, PO4i:2.8},
        {Me_P_mole_ratio:1.909371147,  PO4e:0.45, PO4i:2.8},
        {Me_P_mole_ratio:1.363836533,  PO4e:0.65, PO4i:2.8},
        {Me_P_mole_ratio:1.091069227,  PO4e:0.95, PO4i:2.8},
        {Me_P_mole_ratio:0.5455346134, PO4e:1.5, PO4i:2.8},
      ],
    },
    methods:{
      add_point(){
        this.points.push({PO4e:1, PO4i:1, Me_P_mole_ratio:1});
      },

      remove_point(index){
        this.points.splice(index,1);
      },

      compute_linear_regression(){
        let xi    = this.points.map(p=>p.Me_P_mole_ratio);             //x points
        let yi    = this.points.map(p=>Math.log(p.PO4e/p.PO4i));       //y points
        let xi_sq = xi.map(p=>Math.pow(p,2));                          //x squared points
        let yi_sq = yi.map(p=>Math.pow(p,2));                          //y squared points
        let xiyi  = this.points.map(p=>{                               //x·y points
          return (p.Me_P_mole_ratio*Math.log(p.PO4e/p.PO4i));
        });
        let N = this.points.length;                                    //number of points

        let xi_sum    = xi.sum();
        let yi_sum    = yi.sum();
        let xi_sq_sum = xi_sq.sum();
        let yi_sq_sum = yi_sq.sum();
        let xiyi_sum  = xiyi.sum();

        //compute m and b (y = mx + b)
        let m = (N*(xiyi_sum) - yi_sum*xi_sum)/(N*xi_sq_sum - Math.pow(xi_sum,2));
        let n = (yi_sum - m*xi_sum)/N;

        //compute r (correlation)
        let r_2 = Math.pow(N*xiyi_sum - xi_sum*yi_sum, 2)/((N*xi_sq_sum - Math.pow(xi_sum,2))*(N*yi_sq_sum - Math.pow(yi_sum,2)));

        //compte a_1 and a_2
        let a_1 = Math.exp(n);
        let a_2 = -m;

        return {
          a_1:{value:a_1, html:"a<sub>1</sub>"},
          a_2:{value:a_2, html:"a<sub>2</sub>"},
          r_2:{value:r_2, html:"r<sup>2</sup>"},
        };
      },
    },
  });
</script>
